
@import "variables/variables";
@import "sass2/condicionales";
@import "sass2/extend";
@import "sass2/maps";
@import "sass2/operaciones";
@import "partials/header";
@import "partials/section";
@import "partials/footer";
@import "sass2/mixins";

* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    color:$segundo-fondo;
    font-weight: 510;
}

a:hover {
    background-color:  $colorOver;
 }

body {
    background-color: $fondo-de-color;
    text-align: justify;
    color: $color-letra;
}

header {

     border-spacing: 5px;
     border-style:solid;
     border-color:$color-borde;
     border-radius: 5px;
     font-family: 'Crimson Pro', serif;
     color: $color-letra;
 }

#navheadprincipal div a, #navheadprincipal div h3, #navfootprincipal nav  a{
    color: $color-letra;
 }

#bienvenidacentral h1, #bienvenidacentral div div h3, #bienvenidacentral p, #carouselExampleIndicators p{
    color: $color2-letra;
}




